* {
    box-sizing: border-box;
}

body {
    position: relative;
    height: 100vh;
    font-family: Courier New
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 260px;
    background: silver;
    padding: 10px;
    border-radius: 4px;    
}

.button {
    display: inline-block;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    margin: 10px;
    width: 40px;
    height: 40px;
    padding: 10px 0;
    color: white;
    background-color: #363636;
    background-image: linear-gradient(to bottom, #444444, #222222);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    /*    border: 1px solid #505050;*/
    border-radius: 4px;
    border: 1px solid #cccccc;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.button:hover,
.button:focus {
/*    color: #333333;*/
    color: #ffffff;
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

.button:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.button:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.alert {

}

.button:hover {
    cursor: pointer;
    background-color: #222222;    
}

.screen {
    background: orange;
    margin: 10px;
    padding: 5px;
    height: 60px;
}

.entry {
    height: 60%;
    font-size: 2em;
    text-align: right;
}

.equation {
    text-align: right;	  
    margin-top: 5px;
}

#equals {
    float: right;	  
    height: 100px;
    line-height: 78px;
}

#zero {
    width: 100px;
}
